html, body {
    height: 100%;
}

.flex-grow-1 {
    flex-grow: 1;
}
.footer {
    background-color: #f8f9fa; /* Thay đổi màu nền nếu cần */
    padding: 1rem 0;
    width: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    background-color: #ee4d2d !important;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.btn-primary {
    background-color: #ee4d2d;
    border-color: #ee4d2d;
}

.btn-primary:hover {
    background-color: #d73211;
    border-color: #d73211;
}

.btn-outline-primary {
    color: #ee4d2d;
    border-color: #ee4d2d;
}

.btn-outline-primary:hover {
    background-color: #ee4d2d;
    color: #fff;
}

.text-primary {
    color: #ee4d2d !important;
}

.border-primary {
    border-color: #ee4d2d !important;
}

