<div class="container mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>
</div>

<div class="container mt-5">
    <div class="row mt-3 g-3">
        <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="sanPham in paginatedProduct[currentPage]">
            <a href="" 
               class="text-decoration-none text-reset" 
               ng-click="sanPham.soluong > 0 && xemChiTiet(sanPham.id)" 
               ng-class="{'disabled-link': sanPham.soluong === 0}">
                <div class="card product-card h-100">
                    <img ng-if="sanPham.uRlHinhAnh" 
                         src="{{sanPham.uRlHinhAnh}}" 
                         alt="{{sanPham.tensp}}" 
                         class="card-img-top" 
                         style="height: 286px; width: 100%;">
                         <span class="badge bg-danger position-absolute top-0 start-0 m-2">
                            Số lượng: {{sanPham.soluong}}
                        </span>
                    <div class="card-body">
                        <h5 class="card-title">{{sanPham.tensp}}</h5>
                        <div class="d-flex align-items-center">
                            <p class="card-text me-2"
                                style="color: gray; text-decoration: line-through; margin-bottom: 0;">{{sanPham.giaban}}đ
                            </p>
                            <p class="card-text fw-bold" style="margin-bottom: 0;">{{sanPham.giasale}}đ</p>
                            <span class="ms-auto">
                                <span ng-if="sanPham.soluong > 0">Chi tiết <i class="bi bi-chevron-right"></i></span>
                                <span ng-if="sanPham.soluong === 0" style="color: gray;">Hết hàng</span>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>    

    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" ng-class="{disabled: currentPage === 0}">
                <a class="page-link" href="" ng-click="goToPage(currentPage - 1)">Trước</a>
            </li>
            <li class="page-item" ng-repeat="page in paginatedProduct track by $index" 
                ng-class="{active: $index === currentPage}">
                <a class="page-link" href="" ng-click="goToPage($index)">{{$index + 1}}</a>
            </li>
            <li class="page-item" ng-class="{disabled: currentPage === paginatedProduct.length - 1}">
                <a class="page-link" href="" ng-click="goToPage(currentPage + 1)">Tiếp</a>
            </li>
        </ul>
    </nav>
</div>
