<div class="border rounded p-3" style="background-color: rgb(233, 232, 232);" ng-controller="diachiController">
    <h5 class="fw-bold mb-2 text-danger" style="margin-left: 15px;">Địa Chỉ Nhận Hàng</h5>
    <div class="d-flex justify-content-between align-items-center">
      <div style="margin-left: 15px;">
        <span id="hovaten" class="fw-bold">...</span> -
        <span id="sdt">...</span><br>
        <span id="diachi">...</span>
        <span class="badge bg-primary-subtle text-success border border-success me-2">Mặc định</span>
      </div>
      <div>
        <a data-bs-toggle="modal" data-bs-target="#exampleModal">Thay Đổi</a>
      </div>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Thay đổi địa chỉ</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <!-- Tùy chọn chọn địa chỉ hoặc thêm mới -->
      <div class="mb-3">
        <label for="addressSelect" class="form-label">Chọn Địa Chỉ</label>
        <select class="form-select" id="addressSelect">
          <option disabled selected value="">Chọn địa chỉ...</option>
          <!-- Các tùy chọn sẽ được thêm bằng JavaScript -->
        </select>
        <button  class="btn btn-link text-primary p-0 mt-2" id="btnAddNewAddress">+ Thêm địa chỉ mới</button>
      </div>
    
      <!-- Phần nhập địa chỉ mới -->
      <div id="newAddressForm" style="display: none;">
        <div class="mb-3">
          <label for="province" class="form-label">Chọn Tỉnh/Thành</label>
          <select class="form-select" id="province">
            <option disabled value="">Chọn Tỉnh</option>
            <!-- Các tùy chọn sẽ được thêm thông qua JavaScript -->
          </select>
        </div>
        <div class="mb-3">
          <label for="district" class="form-label">Chọn Quận/Huyện</label>
          <select class="form-select" id="district" disabled>
            <option disabled value="">Chọn Quận</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ward" class="form-label">Chọn Phường/Xã</label>
          <select class="form-select" id="ward" disabled>
            <option disabled value="">Chọn Phường</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="detailInput" class="form-label">Nhập chi tiết</label>
          <input type="text" class="form-control" id="detailInput" placeholder="Nhập chi tiết">
        </div>
      </div>
    </div>
    <div class="modal-footer">