<div class="container mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giỏ Hàng</li>
        </ol>
    </nav>
</div>

<div class="container">
    <!-- Sản phẩm -->
    <div class="border rounded p-3 my-3" style="background-color: rgb(233, 232, 232);">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center" style="width: 5%; ">
            <input type="checkbox" id="selectAllCheckbox" class="product-checkboxx" style="margin: auto;">
          </div>
          <div style="width: 45%;">
              <span class="fw-bold">Sản Phẩm</span>
          </div>
          <div class="d-flex justify-content-between text-center" style="width: 50%;">
              <span class="fw-bold" style="width: 40%;">Đơn Giá</span>
              <span class="fw-bold" style="width: 20%;">Số Lượng</span>
              <span class="fw-bold" style="width: 30%;">Số Tiền</span>
              <span class="fw-bold" style="width: 15%;">Chức Năng</span>
          </div>
        </div>
        
        <div class="product-list"></div>
    </div>
    <!-- Tính toán và tổng tiền -->
    <div class="container mt-3 border pt-3 rounded">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="fw-bold fs-5">Tổng hóa đơn</div>
            <div class="text-danger fw-bold fs-5" id="tongHoaDon">0 VND</div>
        </div>

        <!-- Checkout Button -->
        <div class="text-end">
            <a href=""  style="margin-bottom: 20px;" ng-click="changePage()" class="btn btn-danger btn-lg">Mua Hàng</a>
        </div>
    </div>
</div>














