<div class="container mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>
</div>

<div class="container mt-5">
    <div class="row mt-3 g-3">
        <!-- Phần lọc sản phẩm -->
        <div class="col-3 rounded border border-black" style="max-width: 330px; max-height: max-content;">
            <div class="mt-3 d-flex justify-content-between align-items-center"
                style="max-width: 270px; transform: translate(20px, 0px);">
                <h3 class="fw-bold mb-0">Lọc</h3>
                <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFilter">
                    <i class="bi bi-toggles"></i>
                </button>
            </div>
            <hr
                style="border: 0; border-top: 2px solid; margin-top: 8px; margin-bottom: 5px; width: 88%; max-width: 300px; margin-left: auto; margin-right: auto;">

            <!-- Lọc theo thương hiệu -->
            <div class="mt-1 collapse" id="collapseFilter">
                <div class="mt-3 mb-3">
                    <div class="accordion" id="accordionGia">
                        <div class="accordion-item border-0">
                            <h4 class="accordion-header fw-bold">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseGia" aria-expanded="false" aria-controls="collapseGia">
                                    Giá
                                </button>
                            </h4>
                            <div id="collapseGia" class="accordion-collapse collapse" data-bs-parent="#accordionGia">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <input class="form-control" type="number" placeholder="Giá thấp nhất"
                                                ng-model="searchParams.giaMin">
                                        </div>
                                        <div class="col-6">
                                            <input class="form-control" type="number" placeholder="Giá cao nhất"
                                                ng-model="searchParams.giaMax">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Lọc theo thuộc tính -->
                <div ng-repeat="thuoctinh in groupedThuocTinhs">
                    <hr
                        style="border: 0; border-top: 2px solid; margin-top: 5px; margin-bottom: 5px; width: 88%; max-width: 330px; margin-left: auto; margin-right: auto;">
                    <div class="mt-3 mb-3">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item border-0">
                                <h3 class="accordion-header mb-2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-{{thuoctinh.idThuocTinh}}" aria-expanded="false"
                                        aria-controls="collapse-{{thuoctinh.idThuocTinh}}">
                                        <h4 class="fw-bold">{{thuoctinh.nameThuocTinh}}</h4>
                                    </button>
                                </h3>
                                <div id="collapse-{{thuoctinh.idThuocTinh}}" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <!-- Lặp qua từng chi tiết thuộc tính -->
                                            <div class="col-3 mb-3" ng-repeat="chiTiet in thuoctinh.chiTiet">
                                                <input type="checkbox" class="btn-check" id="btn-check-{{chiTiet}}"
                                                    autocomplete="off"
                                                    ng-checked="searchParams.tenThuocTinhs.indexOf(chiTiet) > -1"
                                                    ng-click="toggleChiTiet(chiTiet)">
                                                <label class="btn btn-outline-primary"
                                                    for="btn-check-{{chiTiet}}">{{chiTiet}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- Áp dụng bộ lọc -->
                <div class="mt-2 mb-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="applyFilters()"
                        style="width: 200px; background-color: black; color: aliceblue;">
                        Áp dụng
                    </button>
                </div>
            </div>
        </div>


        <!-- Phần hiển thị sản phẩm -->
        <div class="col-9" style="transform: translate(20px, 0px);">
            <div ng-if="errorMessage" class="alert alert-warning text-center mt-3">
                {{errorMessage}}
            </div>
            <div class="row mt-3 g-3" ng-if="!errorMessage">
                <div class="ol-lg-3 col-md-4 col-sm-6" ng-repeat="sanPham in paginatedProduct[currentPage]">
                    <a href="" class="text-decoration-none text-reset"
                        ng-click="sanPham.soluong > 0 && xemChiTiet(sanPham.id)"
                        ng-class="{'disabled-link': sanPham.soluong === 0}">
                        <div class="card product-card h-100">
                            <img ng-if="sanPham.uRlHinhAnh" src="{{sanPham.uRlHinhAnh}}" alt="{{sanPham.tensp}}"
                                class="card-img-top" style="height: 286px; width: 100%;">

                            <span class="badge bg-danger position-absolute top-0 start-0 m-2"
                                ng-if="sanPham.giaTriGiam >100 && sanPham.giaTriGiam>0 ">
                                -{{sanPham.giaTriGiam| number : 0}}VNĐ
                            </span>
                            <span class="badge bg-danger position-absolute top-0 start-0 m-2"
                                ng-if=" sanPham.giaTriGiam <=100 && sanPham.giaTriGiam>0 ">
                                -{{sanPham.giaTriGiam| number : 0}}%
                            </span>
                            <div class="card-body">
                                <h5 class="card-title">{{sanPham.tensp}}</h5>
                                <div class="d-flex align-items-center">
                                    <p class="card-text me-2"
                                        style="color: gray; text-decoration: line-through; margin-bottom: 0;"
                                        ng-if="sanPham.giaban != sanPham.giasale ">
                                        {{sanPham.giaban| number : 0}}VNĐ
                                    </p>
                                    <p class="card-text fw-bold" style="margin-bottom: 0;"
                                        ng-if="sanPham.giaban === sanPham.giasale || sanPham.giaban != sanPham.giasale ">
                                        {{sanPham.giasale| number : 0}}VNĐ</p>
                                    <span class="ms-auto">
                                        <span ng-if="sanPham.soluong > 0">Chi tiết <i
                                                class="bi bi-chevron-right"></i></span>
                                        <span ng-if="sanPham.soluong === 0" style="color: gray;">Hết hàng</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!-- Phân trang -->
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" ng-class="{disabled: currentPage === 0}">
                <a class="page-link" href="" ng-click="goToPage(currentPage - 1)">Trước</a>
            </li>
            <li class="page-item" ng-repeat="page in paginatedProduct track by $index"
                ng-class="{active: $index === currentPage}">
                <a class="page-link" href="" ng-click="goToPage($index)">{{$index + 1}}</a>
            </li>
            <li class="page-item" ng-class="{disabled: currentPage === paginatedProduct.length - 1}">
                <a class="page-link" href="" ng-click="goToPage(currentPage + 1)">Tiếp</a>
            </li>
        </ul>
    </nav>
</div>