<div class="container mt-5">
    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm chi tiết</li>
        </ol>
    </nav>

    <div class="container d-flex justify-content-center align-items-center ">
        <div class="row mt-4">
            <div class="col-md-5">
                <img ng-src="{{sanPham.uRlHinhAnh}}" class="main-image" alt="Main Product Image">
            </div>
    
            <div class="col-md-5">
                <h3>{{sanPham.tensp}}</h3>
                <div ng-if="selectedSPCTs && selectedSPCTs.length > 0" class="product-price">
                 
                    <span class="original-price text-muted"  ng-if=" selectedSPCTs[0].giathoidiemhientai !== selectedSPCTs[0].giaSaleSanPhamChiTiet">
                        <s>{{selectedSPCTs[0].giathoidiemhientai | currency:'' : 0}}VNĐ</s>
                    </span>
                   
                    <span class="discount-badge text-danger" ng-if="selectedSPCTs[0].sales[0].donvi === 1">
                        -{{((1 - selectedSPCTs[0].giaSaleSanPhamChiTiet / selectedSPCTs[0].giathoidiemhientai) * 100) | number : 0}}%
                    </span>
                    <span class="discount-badge text-danger" ng-if="selectedSPCTs[0].sales[0].donvi === 0">
                        -{{selectedSPCTs[0].giathoidiemhientai - selectedSPCTs[0].giaSaleSanPhamChiTiet | number : 0}}VNĐ
                    </span>
                    <h5 class="current-price text-danger" ng-if=" selectedSPCTs[0].giathoidiemhientai === selectedSPCTs[0].giaSaleSanPhamChiTiet ">
                        {{selectedSPCTs[0].giaSaleSanPhamChiTiet | currency:'' : 0}}VNĐ
                    </h5>
                    <h5 class="current-price text-danger" ng-if=" selectedSPCTs[0].giathoidiemhientai !== selectedSPCTs[0].giaSaleSanPhamChiTiet">
                        {{selectedSPCTs[0].giaSaleSanPhamChiTiet | currency:'' : 0}}VNĐ
                    </h5>

                    <p class="mt-3">{{selectedSPCTs[0].mota}}</p>
                </div>
                
                <!-- Hiển thị danh sách thuộc tính -->
                <div class="mt-3" ng-repeat="(key, values) in groupedThuocTinhs">
                    <h7>{{key}}</h7>
                    <div class="d-flex flex-wrap gap-2">
                        <div ng-repeat="value in values" class="mb-1">
                            <input 
                                type="checkbox" 
                                class="btn-check" 
                                id="btn-check-{{key}}-{{$index}}" 
                                autocomplete="off"
                                ng-model="selectedValues[value]" 
                                ng-change="onThuocTinhChange(key, value)"
                                ng-disabled="isDisabled(key, value)">
                            <label 
                                class="btn btn-outline-secondary" 
                                for="btn-check-{{key}}-{{$index}}"
                                ng-class="{'disabled': isDisabled(key, value)}">
                                {{value}}
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex align-items-center justify-content-center mb-3 mt-5">
                    <!-- Nút giảm số lượng -->
                    <button class="btn btn-outline-secondary mx-2" type="button" 
                            ng-click="changeQuantity(-1)" 
                            ng-disabled="quantity <= 0">-</button>
                
                    <!-- Hiển thị số lượng ở giữa -->
                    <span id="quantity-display" class="form-control text-center w-auto px-3">{{quantity}}</span>
                
                    <!-- Nút tăng số lượng -->
                    <button class="btn btn-outline-secondary mx-2" type="button" 
                            ng-click="changeQuantity(1)" 
                            ng-disabled="quantity >= selectedSPCTs[0].soluong">+</button>
                </div>
                
            
                <div ng-if="selectedSPCTs && selectedSPCTs.length > 0">
                    <!-- Hiển thị số lượng tối đa -->
                    <p class="mt-2" ng-if=" selectedSPCTs[0].giathoidiemhientai === selectedSPCTs[0].giaSaleSanPhamChiTiet && selectedSPCTs[0].soluong >0 ">Số lượng tối đa có sẵn: <strong>{{selectedSPCTs[0].soluong}}</strong></p>
                    <p class="mt-2" ng-if=" selectedSPCTs[0].giathoidiemhientai !== selectedSPCTs[0].giaSaleSanPhamChiTiet">Số lượng sale có sẵn: <strong>{{selectedSPCTs[0].sales[0].soluong}}</strong></p>
                    <p class="mt-2" ng-if=" selectedSPCTs[0].giathoidiemhientai === selectedSPCTs[0].giaSaleSanPhamChiTiet && selectedSPCTs[0].soluong === 0 ">Hết hàng</strong></p>
                    
                </div>
            
                <hr class="mt-3" style="border: 0; border-top: 2px solid;">
                <!-- Nút "Mua ngay" -->
               <!-- Nút "Mua ngay" -->
                <a href="" ng-click="MuaSanPham()" class="btn btn-outline-dark chat-btn"
                ng-class="{'btn-disabled': selectedSPCTs.length !== 1 || selectedSPCTs[0].soluong === 0}" 
                ng-disabled="selectedSPCTs.length !== 1 || selectedSPCTs[0].soluong === 0">
                Mua ngay
                </a>

            <!-- Nút "Thêm vào giỏ hàng" -->
                <a href="" ng-click="GioHang()" class="btn btn-dark add-cart-btn"
                ng-class="{'btn-disabled': selectedSPCTs.length !== 1 || selectedSPCTs[0].soluong === 0}" 
                ng-disabled="selectedSPCTs.length !== 1 || selectedSPCTs[0].soluong === 0">
            hêm vào giỏ hàng
            </a>

            </div>
        </div>
    </div>
    


    <div class="mt-3">
        <div class="row">
            <div class="col-8">
                <p class="d-flex justify-content-center">
                    <a data-bs-toggle="collapse" href="#ThongTinSanPhamExample" role="button" aria-expanded="false"
                        aria-controls="ThongTinSanPhamExample" class="no-underline text-black">
                        Thông Tin Sản Phẩm
                    </a>
                </p>
                <div class="collapse" id="ThongTinSanPhamExample">
                    <div class="card card-body">
                        {{sanPham.mota}}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <p class="d-flex justify-content-center">
                    <a data-bs-toggle="collapse" href="#DanhGiaExample" role="button" aria-expanded="false"
                        aria-controls="DanhGiaExample" class="no-underline text-black">
                        Đánh Giá
                    </a>
                </p>
                <div class="collapse" id="DanhGiaExample">
                    <div class="card card-body">
                        <div ng-if="danhGias.length === null">
                            <p>Không có đánh giá nào cho sản phẩm này.</p>
                        </div>

                        <!-- Hiển thị danh sách đánh giá -->
                        <div ng-if="danhGias.length > 0">
                            <div class="danh-gia-item" ng-repeat="danhGia in danhGias">
                                <div class="header">
                                    <strong>Khách hàng:</strong> {{ danhGia.tenKhachHang  || "Ẩn danh" }}
                                    
                                   
                                </div>
                                <div class="content">
                                    <strong>Ngày đánh giá: </strong><span class="date">{{ danhGia.ngaydanhgia | date:'dd/MM/yyyy' }}</span>
                                    <p><strong>Nội dung:</strong> {{ danhGia.noidungdanhgia }}</p>
                                </div>
                                <div class="footer">
                                    <div ng-if="danhGia.urlHinhanh" >
                                        <img ng-src="{{ danhGia.urlHinhanh }}" alt="Hình ảnh đánh giá" style="width: 200px;"/>
                                    </div>
                                </div>
                                <hr />
                            </div>

                        </div>

                        <!-- Hiển thị lỗi -->
                        <div ng-if="errorMessage" class="error">
                            <p>{{ errorMessage }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <h3 class="fw-bold text-center">Sản Phẩm Tương Tự</h3>
        <div class="row mt-2">
            <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="sanPham in sanPhams">
                <a href="" class="text-decoration-none text-reset"
                        ng-click="sanPham.soluong > 0 && xemChiTiet(sanPham.id)"
                        ng-class="{'disabled-link': sanPham.soluong === 0}">
                        <div class="card product-card h-100">
                            <img ng-if="sanPham.uRlHinhAnh" src="{{sanPham.uRlHinhAnh}}" alt="{{sanPham.tensp}}"
                                class="card-img-top" style="height: 286px; width: 100%;">

                            <span class="badge bg-danger position-absolute top-0 start-0 m-2"
                                ng-if="sanPham.giaTriGiam >100 && sanPham.giaTriGiam>0 ">
                                -{{sanPham.giaTriGiam| number : 0}}VNĐ
                            </span>
                            <span class="badge bg-danger position-absolute top-0 start-0 m-2"
                                ng-if=" sanPham.giaTriGiam <=100 && sanPham.giaTriGiam>0 ">
                                -{{sanPham.giaTriGiam| number : 0}}%
                            </span>
                            <div class="card-body">
                                <h5 class="card-title">{{sanPham.tensp}}</h5>
                                <div class="d-flex align-items-center">
                                    <p class="card-text me-2"
                                        style="color: gray; text-decoration: line-through; margin-bottom: 0;"
                                        ng-if="sanPham.giaban != sanPham.giasale ">
                                        {{sanPham.giaban| number : 0}}VNĐ
                                    </p>
                                    <p class="card-text fw-bold" style="margin-bottom: 0;"
                                        ng-if="sanPham.giaban === sanPham.giasale || sanPham.giaban != sanPham.giasale ">
                                        {{sanPham.giasale| number : 0}}VNĐ</p>
                                    <span class="ms-auto">
                                        <span ng-if="sanPham.soluong > 0">Chi tiết <i
                                                class="bi bi-chevron-right"></i></span>
                                        <span ng-if="sanPham.soluong === 0" style="color: gray;">Hết hàng</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
            </div>

        </div>
    </div>
</div>