<div class="container">
    <div class="row">
        <div class="col-4">
            <p><i class="bi bi-funnel"></i>BỘ LỌC TÌM KIẾM</p>
            <div>
                <p>Theo giá sản phẩm</p>
                <div class="mb-3">
                    <input type="number" placeholder="vnđ Từ "> - <input type="number" placeholder="vnđ Từ ">
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-danger">Danger</button>
                </div>
            </div>
        </div>
    </div>
</div>