<div class="container mt-5">
    <div class="rounded overflow-hidden" style="height: 300px; margin: auto;">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../image/TestTrangChu1.png" class="d-block w-100" alt="Hình ảnh 1"
                        style="height: 300px; object-fit: cover;">
                </div>
                <div class="carousel-item">
                    <img src="../image/TestTrangChu2.png" class="d-block w-100" alt="Hình ảnh 2"
                        style="height: 300px; object-fit: cover;">
                </div>
                <div class="carousel-item">
                    <img src="../image/TestTrangChu3.png" class="d-block w-100" alt="Hình ảnh 3"
                        style="height: 300px; object-fit: cover;">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Trước</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Sau</span>
            </button>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="container rounded overflow-hidden" style="height: 886px; margin: auto;">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="fw-bold">Sản Phẩm Nổi Bật</h1>
            <a href="#" class="text-reset" style="font-size: 16px; text-decoration: underline;">Xem thêm <i class="bi bi-chevron-right"></i></a>
        </div>
        <hr style="border: 0; border-top: 2px solid; margin-top: 5px; margin-bottom: 20px;">
        <div class="row mt-3 g-3">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#!sanphamchitiet" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPham.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <p class="card-text">3,239,000₫</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPham.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <p class="card-text">3,239,000₫</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPham.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <p class="card-text">3,239,000₫</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPham.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <p class="card-text">3,239,000₫</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPham.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <p class="card-text">3,239,000₫</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPham.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <p class="card-text">3,239,000₫</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPham.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <p class="card-text">3,239,000₫</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPham.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <p class="card-text">3,239,000₫</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="container rounded overflow-hidden" style="height: 886px; margin: auto;">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="fw-bold">Sale</h1>
            <a href="#" class="text-reset" style="font-size: 16px; text-decoration: underline;">Xem thêm <i class="bi bi-chevron-right"></i></a>
        </div>
        <hr style="border: 0; border-top: 2px solid; margin-top: 5px; margin-bottom: 20px;">
        <div class="row mt-3 g-3">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPhamSale.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text me-2" style="color: gray; text-decoration: line-through; margin-bottom: 0;">5,000,000₫</p> 
                                <p class="card-text fw-bold" style="margin-bottom: 0;">3,239,000₫</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPhamSale.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text me-2" style="color: gray; text-decoration: line-through; margin-bottom: 0;">5,000,000₫</p> 
                                <p class="card-text fw-bold" style="margin-bottom: 0;">3,239,000₫</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPhamSale.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text me-2" style="color: gray; text-decoration: line-through; margin-bottom: 0;">5,000,000₫</p> 
                                <p class="card-text fw-bold" style="margin-bottom: 0;">3,239,000₫</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPhamSale.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text me-2" style="color: gray; text-decoration: line-through; margin-bottom: 0;">5,000,000₫</p> 
                                <p class="card-text fw-bold" style="margin-bottom: 0;">3,239,000₫</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPhamSale.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text me-2" style="color: gray; text-decoration: line-through; margin-bottom: 0;">5,000,000₫</p> 
                                <p class="card-text fw-bold" style="margin-bottom: 0;">3,239,000₫</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPhamSale.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text me-2" style="color: gray; text-decoration: line-through; margin-bottom: 0;">5,000,000₫</p> 
                                <p class="card-text fw-bold" style="margin-bottom: 0;">3,239,000₫</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPhamSale.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text me-2" style="color: gray; text-decoration: line-through; margin-bottom: 0;">5,000,000₫</p> 
                                <p class="card-text fw-bold" style="margin-bottom: 0;">3,239,000₫</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="text-decoration-none text-reset">
                    <div class="card product-card h-100">
                        <img src="../image/SanPhamSale.png" class="card-img-top" alt="..."
                            style="height: 286px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Nike P-6000</h5>
                            <div class="d-flex align-items-center">
                                <p class="card-text me-2" style="color: gray; text-decoration: line-through; margin-bottom: 0;">5,000,000₫</p> 
                                <p class="card-text fw-bold" style="margin-bottom: 0;">3,239,000₫</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
